@blue: #03A9F4;

.login-btn {
  padding: 5px;
  border: 1px solid @blue;
  color: @blue;
  background: transparent;
  width: 140px;    
  border-radius: 5px;
  position: relative;  
  outline: none;
}

.login-btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0%;
  background-color: @blue;
  left: 0;
  bottom: 0%;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s ease-in; 
}

.login-btn:hover:after {  
  height: 100%;
}

.login-btn:hover {
  color: #EEE;
}

h3.title {
  border-bottom: 3px solid #C4C4C4;
  padding-bottom: 20px;
}

.gcontrols {
  padding: 20px 0;
}

.user_details {
  padding: 10px 0;
}
