<div>
  
    <h3 class="title"> Google API login </h3>

    <div class="gcontrols">

        <button ng-click="login()" class="login-btn">Login</button>	  
	  	<p class="user_details" ng-show="readyUser"> Logged in as {{displayUser}} </p>	  
        <p class="user_details" ng-show="readyUser"> Access token: {{currentUser.access_token}} </p>	  
    	
    </div>
</div>